<div class="paginator-container">
  <p-button
    icon="pi pi-angle-double-left"
    [rounded]="true"
    (onClick)="onDoubleLeft()"
  />
  <p-button icon="pi pi-angle-left" [rounded]="true" (onClick)="onLeft()" />
  {{ currentPage + 1 }} / {{ totalPages }}
  <p-button icon="pi pi-angle-right" [rounded]="true" (onClick)="onRight()" />
  <p-button
    icon="pi pi-angle-double-right"
    [rounded]="true"
    (onClick)="onDoubleRight()"
  />
  <p-dropdown
    [(ngModel)]="selectedRowsCount"
    [options]="rowsPerPageList"
    (onChange)="onRowsCountChanged()"
  ></p-dropdown>
</div>
