:host ::ng-deep {
  .p-menubar {
    background-color: #e7efd1;
    border: none;
    border-radius: 0;
  }

  .pi {
    margin-right: 10px;
  }
  &.p-menuitem {
    margin: 0 1px;
  }
  &.p-menuitem-link-active {
    border: 2px solid #16b304;
    margin: -1.5px;
  }
  .pi,
  .p-menuitem-text {
    color: #8b00db;
    font-weight: 700;
  }
}
.p-menuitem-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  &.active-link {
    border: 2px solid #16b304;
    margin: -1.5px;
  }
}
.menuitem-container {
  margin-left: auto;
  flex-wrap: nowrap;
}
