<div class="card">
  <app-table-template [objects]="objects" [isEdit]="true" (objectToDelete)="deleteObject($event)" (objectToEdit)="editObject($event)">
  </app-table-template>

  <p-button (click)="showAddDialog()" label="Add new object"></p-button>
  <p-dialog header="Adding object" [modal]="true" [(visible)]="addDialogvisible" [style]="{ width: '30rem', height: '36rem', 'min-width': '24rem',  'min-height': '20rem' }">
    <form [formGroup]="addForm" (ngSubmit)="addNewObject()">
      <p-card>
        <div class="field">
          <label for="name">Object name</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            class="w-full"
            name="name"
            placeholder="Type object name"
          />
          <small
            *ngIf="objectName.invalid && (objectName.dirty || objectName.touched)"
            class="block p-error"
          >
            <div *ngIf="objectName.errors?.['required']">Name is required.</div>
          </small>
        </div>
        <div class="field">
          <label for="address">Object address</label>
          <textarea
            pInputTextarea
            formControlName="address"
            class="w-full"
            name="address"
            [autoResize]="true"
            rows="2"
          ></textarea>
        </div>
        <div class="field">
          <label for="registrationDate" class="font-semibold w-8rem multiline-label">Registration date</label>
          <p-calendar
            formControlName="registrationDate"
            name="registrationDate"
            [showIcon]="true"
            inputId="buttondisplay"
            [showOnFocus]="false"
            appendTo="body"
            class="w-full">
          </p-calendar>
        </div>
        <div class="flex justify-content-end gap-2 mt-3">
          <p-button class="mr-2"
            label="Add object"
            [disabled]="addForm.invalid"
            type="submit"
          ></p-button>
          <p-button
            label="Cancel"
            severity="danger"
            (click)="addDialogvisible = false"
          ></p-button>
        </div>
      </p-card>
    </form>
  </p-dialog>

  <p-dialog header="Editing object" [modal]="true" [(visible)]="editDialogVisible" [style]="{ width: '30rem', height: '36rem', 'min-width': '24rem',  'min-height': '20rem'}">
    <div class="p-dialog-content flex flex-column h-full">
      <p-card>
        <div class="field">
          <label for="name" class="font-semibold w-8rem">Object name</label>
          <input pInputText id="name" [(ngModel)]="editingObject.name" autocomplete="off" class="w-full"/>
          <div *ngIf="!editingObject.name && showValidationErrors" class="p-error">Object name is required.</div>
        </div>
        <div class="field">
          <label for="address" class="font-semibold w-8rem">Address</label>
          <textarea pInputTextarea id="address" required class="w-full"
            [(ngModel)]="editingObject.address"
            [autoResize]="true"
            rows="3">
          </textarea>
          <div *ngIf="!editingObject.address && showValidationErrors" class="p-error">Address is required.</div>
        </div>
        <div class="field">
          <label for="registrationDate" class="font-semibold w-8rem">Registration date</label>
          <p-calendar
            [(ngModel)]="editingObject.registrationDate"
            [showIcon]="true"
            inputId="buttondisplay"
            [showOnFocus]="false"
            appendTo="body"
            class="w-full">
          </p-calendar>
          <div *ngIf="!editingObject.registrationDate && showValidationErrors" class="p-error">Registration date is required.</div>
        </div>
        <div class="flex justify-content-end gap-2 mt-3">
          <p-button label="Save changes" severity="info" (click)="onSaveChangesClick()"></p-button>
          <p-button label="Cancel" severity="danger" (click)="editDialogVisible = false"></p-button>
        </div>
      </p-card>
    </div>
  </p-dialog>
</div>
