<form [formGroup]="requestForm" (ngSubmit)="submitRequest()" [style]="{ display: 'flex','justify-content': 'center'}">
  <p-card header="Submit a Request" [style]="{ display: 'flex','justify-content': 'center'}">
    <div class="field">
      <label for="title">Title</label>
      <input
        type="text"
        pInputText
        formControlName="title"
        name="title"
        class="w-full"
      />
      <small
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="block p-error"
        >
        <div *ngIf="title.errors?.['required']">Title is required</div>
      </small>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          name="description"
          class="w-full"
          [autoResize]="true"
          rows="2"
          pInputTextarea
        ></textarea>
        <small
          *ngIf="description.invalid && (description.dirty || description.touched)"
          class="block p-error"
        >
        <div *ngIf="description.errors?.['required']">Description is required.</div>
      </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Type your email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <label for="object">Object</label>
      <button type="button" (click)="toggleTableVisibility()">
        {{ isTableVisible ? 'Hide Object Selection' : 'Select Object' }}
      </button>
      <label for="objectShow">{{ object.name || '' }}</label>
      <div *ngIf="isTableVisible">
        <app-table-template [objects]="objects" [isSelect]="true" (objectSelected)="selectedObject($event)"></app-table-template>
      </div>
      <p-button
        label="Submit"
        styleClass="w-full"
        [disabled]="requestForm.invalid"
        type="submit"
       ></p-button>
  </p-card>
  <app-file-upload></app-file-upload>
</form>
<div *ngIf="requestLink">
  <p>Request submitted successfully. You can <a [routerLink]="requestLink">check the status of your request</a></p>
</div>

