<div class="card">
  <p-table
    [columns]="cols"
    [value]="requests"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.header }}">
          {{ col.header }}
          <p-sortIcon field="{{ col.header }}" />
        </th>
        <th>Status</th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <p-columnFilter
            type="text"
            field="{{ col.header }}"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [options]="statusOptions"
                (onChange)="filter($event.value)"
                placeholder="Select One"
                appendTo="body"
                [showClear]="true"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span *ngIf="col.field !== 'submissionDate'">{{
            rowData[col.field]
          }}</span>
          <span *ngIf="col.field === 'submissionDate'">{{
            rowData[col.field] | date : "dd-MM-yyyy"
          }}</span>
        </td>
        <td>
          <p-dropdown
            [options]="statusOptions"
            [(ngModel)]="rowData.status"
            optionLabel="label"
            optionValue="value"
            placeholder="Set status"
            appendTo="body"
            (onChange)="onDropdownChange(rowData)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
